﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Coffee>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@if(Model.Value<bool>("withSugar"))
{
    <h1>@($"{Model.Name} with sugar.")</h1>
}
else
{
    <h1>@($"{Model.Name} without sugar.")</h1>
}